@use '../../shared' as *;

.fiu-stats-list {
  @include fiu-typography-common;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.fiu-stats-list__list-item {
  margin-bottom: 15px;
  @include govuk-media-query(tablet) {
    font-size: 18px;
    width: 50%;
  }
  @include govuk-media-query($media-type: print) {
    font-size: 18px;
  }
}

.fiu-stats-list__stat {
  font-weight: $fiu-font-weight-bold;
  .fiu-stats-list--apprentices & {
    color: $fiu-apprentices-brand-colour;
  }
  .fiu-stats-list--employers & {
    color: $fiu-employers-brand-colour;
  }

  @include govuk-media-query(tablet) {
    display: block;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
  }
  @include govuk-media-query(desktop) {
    font-size: 48px;
  }
  @include govuk-media-query($media-type: print) {
    font-size: 48px;
  }
}

.fiu-stats-list--panels {
  margin-top: 1rem;
  @include govuk-media-query(tablet) {
    display: flex;
    gap: 1rem;
  }

  .fiu-stats-list__stat {
    text-align: left;
    margin: 0;
    color: $fiu-employers-brand-colour;
    margin-bottom: 5px;
    display: block;
    font-size: 2rem;
    @include govuk-media-query(tablet) {
      font-size: 3rem;
    }
    @include govuk-media-query($media-type: print) {
      display: block;
      color: black;
      
    }
  }
  @include govuk-media-query($media-type: print) {
    display: flex;
  }
}

.fiu-stats-list__panel {
  display: block;
  background: govuk-colour('black', $variant: 'tint-95');
  border-left: 10px solid $fiu-employers-brand-colour;
  border-top: 1px solid #DBD5E9;
  border-right: 1px solid #DBD5E9;
  border-bottom: 1px solid #DBD5E9;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  height: 100%;
  @include govuk-media-query($media-type: print) {
    min-height: 100px;
    border: 1px solid #ccc;
    border-left: 10px solid #ccc;
    padding: 20px;
  }
}
